extends base

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(type="text" name="title" placeholder="Video Title" required maxlenth=80)
    input(type="text" name="description" placeholder="description" required minlength=20)
    input(type="text" name="hashtags" placeholder="hashtags separate by comma" required)
    input(type="submit" value="Upload Video")