div.social-login
  a(href="/users/github/start").social-btn.social-icon
    i.fab.fa-github
    |  깃헙로그인 &rarr;
  br
  a(href="/users/kakao/start").social-btn.social-icon
    img(src="/imgs/kakaotalk_sharing_btn_small_ov.png", alt="").kakao-img
    p 카카오로그인 &rarr;
  br
  a(href="/users/google/start").social-btn.social-icon
    p 구글로그인 &rarr;
  //- div#g_id_onload.social-btn.social-icon(data-client_id=process.env.GG_CLIENTID, data-login_uri="http://localhost:4000/users/google/start", data-auto_prompt="false")
  //- div.g_id_signin(data-type="standard", data-size="large", data-theme="outline", data-text="sign_in_with", data-shape="rectangular", data-logo_alignment="left")