div.social-login
  a(href="/users/github/start").social-btn.social-icon
    i.fab.fa-github
    |  깃헙로그인 &rarr;
  br
  a(href="/users/kakao/start").social-btn.social-icon
    img(src="/imgs/kakaotalk_sharing_btn_small_ov.png", alt="").kakao-img
    p 카카오로그인 &rarr;