extends ../base

block content
  div.error
    if errorMessage
      span= errorMessage
  form(method="POST")
    input(type="password", name="oldPassword" placeholder="기존 비번")
    input(type="password", name="newPassword" placeholder="새로운 비번")
    input(type="password", name="newPasswordConfirm" placeholder="비번 확인")
    input(type="submit", value="비번변경")