.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px;
  margin-top: 30px;
  .social-icon {
    background-color: transparent;
    color: azure;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 5px;
  }
  .kakao-img {
    width: 16px;
  }
}