extends ../base

block content
  h4 Update video
  form(method="POST")
    input(type="text" name="title" placeholder="Video Title", value=video.title required maxlenth=80)
    input(type="text" name="description" placeholder="description" value=video.description required minlength=20)
    input(type="text" name="hashtags" placeholder="hashtags separate by comma" value=video.hashtags.join() required)
    input(type="submit" value="save")