extends ../base
include ../mixins/video

block content
  form(method="GET" class="search-form")
    input(type="text", name="keyword" placeholder="search by title")
    button
      i.fas.fa-search
  
  div.video-grid
    each video in videos
      +video(video)
    else
      span.empty-message 찾는 영상이 없습니다.